<div class="container-fluid" align="center">
    <div class="row">
        <div class="col-lg">
            <p id="title">Dobrodošli u poslastičarnicu Slatki zalogaji, <br>
                dom najizvrsnijih poslastica i dezerata!</p>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <div class="row">
                <div class="col header">
                    Radno vreme
                </div>
            </div>
            <div class="row">
                <div class="col">
                    Ponedeljak - Petak 
                </div>
                <div class="col">
                    09:00h - 20:00h
                </div>
            </div>
            <div class="row">
                <div class="col">
                    Subota            
                </div>
                <div class="col">
                    10:00h - 18:00h
                </div>
            </div>
            <div class="row">
                <div class="col">
                    Nedelja                     
                </div>
                <div class="col">
                    ne radimo   
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="row">
                <div class="col header"> 
                    Kontakt informacije
                </div>
            </div>
            <div class="row">
                <div class="col  offset-lg-3">
                    <mat-icon>call</mat-icon>     +38162859754
                </div>
            </div>
            <div class="row">

                <div class="col offset-lg-3">
                    <mat-icon>email</mat-icon>  slatkizalogaji@gmail.com      
                </div>
               
            </div>
            <div class="row">
                <div class="col offset-lg-3">
                    <mat-icon>location_on</mat-icon>
                    Bulevar kralja Aleksandra 198, Beograd 11000                   
                </div>
               
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col lg-12" id="map">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d14226.67454086537!2d20.474460641957112!3d44.803906730688155!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x475a7a8298bc0e27%3A0x242c819b1bc3009!2z0JHRg9C70LXQstCw0YAg0LrRgNCw0ZnQsCDQkNC70LXQutGB0LDQvdC00YDQsCAxOTgsINCR0LXQvtCz0YDQsNC0!5e0!3m2!1ssr!2srs!4v1701739654817!5m2!1ssr!2srs"  height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade" id="frame"></iframe>
        </div>
    </div>
</div>






 

 




