.container-fluid {
    padding: 1%;
  }
  
  #text {
    margin-top: 2%;
    font-family: "Annie"!important;
      font-size: 20px !important;
      color:#741c03;
      text-align: justify;
  }

  
  .mat-error {
    height: fit-content;
    margin-bottom: 15px;
    line-height: 1.2;
    background-color: white;
    display: inline;
    font-family: "Annie"!important;
    font-size: 25px !important;
    color:rgb(71, 3, 3);
    }
  ::placeholder {
      font-family: "Annie"!important;
      font-size: 18px !important;
    }
  
  mat-form-field {
      width:100%;
      align-self: center;
  
  }
  
  .row {
   display: flex;
    justify-content: center;
    
  }
  
  
  
  
#passwordchangebtn {
      margin-top: 4.5%;
      font-family: "Atma"!important;
      font-size: 20px !important;
    
    
    }


    mat-form-field {
        width: 100%;
    }

mat-label {
    font-family: 'Annie';
    color: #CB857C;
    font-size: 25px;
}

input {
    font-family: 'Annie';
    color: #9C2D41;
    font-size: 25px;
}


::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
    background-color: white !important;
    border-radius: 5px;
}

::ng-deep .mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick {
    color: #9C2D41 !important;
}


::ng-deep .mat-form-field-appearance-outline.mat-form-field-invalid.mat-form-field-invalid .mat-form-field-outline-thick {
    color: #9C2D41 !important;
    /* opacity: 1!important;*/
}


::ng-deep .mat-input-element {
    caret-color: #9C2D41 !important;
}


::ng-deep .mat-form-field-invalid .mat-input-element,
.mat-warn .mat-input-element {
    caret-color: #9C2D41 !important;
}



::ng-deep .mat-form-field.mat-focused .mat-form-field-label {
    color: #9C2D41 !important;
}


::ng-deep .mat-form-field.mat-form-field-invalid .mat-form-field-label {
    color: #9C2D41 !important;
}


#button {
    color:#FAF7F4;
    margin-top: 2%;
    margin-bottom: 20px;
    font-family: "Atma"!important;
    font-size: 28px !important;
    background-color: #CB857C;
  }

  
#profilebutton {
        color:#FAF7F4;
        margin-top: 2%;
        margin-bottom: 20px;
        font-family: "Atma"!important;
        font-size: 28px !important;
}