
<form class="form-horizontal" [formGroup]="PasswordChange"  align="center" style="display: flex; justify-content:center" *ngIf="user">
    <div class="container-fluid" align="center">
        <div class="row" >
            <div class="col-lg-4"style="display: flex; justify-content:center"  >
                <p id="text">
                 <!-- Password must start with a letter and include at
                least: One special character, lower case and one upper case letter and a number.-->
                </p>
                
            </div>
        </div>
        <div class="row" align="right">
            <div class="offset-lg-4   col-lg-4 col-sm-4 ">
                <button (click)="profile()" mat-button id="profilebutton"> Odustani </button>
            </div>
        </div>
        
        <div class="row">
            <div class="col-lg-4 col-sm-6 col-8">
                <mat-form-field appearance="outline">
                    <mat-label>Trenutna lozinka</mat-label>
                    <input [type]="hide[0] ? 'password' : 'text'" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide[0]" matInput placeholder="Password" formControlName="currentpassword">
                    <button mat-icon-button matSuffix (click)="hide[0] = !hide[0]" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide[0]"> 
                        <mat-icon>{{hide[0] ? 'visibility_off' : 'visibility'}}</mat-icon> </button>
                    
                </mat-form-field>
                <p *ngIf="PasswordChange.get('currentpassword').errors?.['currentpassword']" class="mat-error">
                    {{PasswordChange.get('currentpassword').errors['currentpassword'].value}}
                </p>
                <p *ngIf="!PasswordChange.get('currentpassword').errors?.['currentpassword'] && PasswordChange.get('currentpassword').errors?.['minlength']" class="mat-error">
                    Lozinka mora sadržati bar 8 karaktera
                </p>
            </div>
        </div>
      
                <div class="row">
                    <div class="col-lg-4 col-sm-6 col-8">
                        <mat-form-field appearance="outline">
                            <mat-label>Nova lozinka</mat-label>
                            <input [type]="hide[1] ? 'password' : 'text'" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide[1]" matInput placeholder="Password" formControlName="password">
                            <button mat-icon-button matSuffix (click)="hide[1] = !hide[1]" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide[1]"> 
                                <mat-icon>{{hide[1] ? 'visibility_off' : 'visibility'}}</mat-icon> </button>
                            
                        </mat-form-field>
                        <p *ngIf="PasswordChange.get('password').errors?.['password']" class="mat-error">
                            {{PasswordChange.get('password').errors['password'].value}}
                        </p>
                        <p *ngIf="!PasswordChange.get('password').errors?.['password'] && PasswordChange.get('password').errors?.['minlength']" class="mat-error">
                            Lozinka mora sadržati bar 8 karaktera
                        </p>
                    </div>
                </div>
        
                <div class="row">
                    <div class="col-lg-4 col-sm-6 col-8">
                        <mat-form-field appearance="outline">
                            <mat-label>Ponovljena nova lozinka</mat-label>
                            <input [type]="hide[2] ? 'password' : 'text'" matInput placeholder="Password confirmation"
                                formControlName="passwordconfirm">
                            <button mat-icon-button matSuffix (click)="hide[2]  = !hide[2] " [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide[2] "> 
                            <mat-icon>{{hide[2] ? 'visibility_off' : 'visibility'}}</mat-icon> </button>
                           
                        </mat-form-field>
                        <p  *ngIf="!PasswordChange.get('passwordconfirm').errors?.['password'] && PasswordChange.get('passwordconfirm').errors?.['minlength']" class="mat-error">
                            Lozinka mora sadržati bar 8 karaktera
                        </p>
                        <p *ngIf="PasswordChange.get('passwordconfirm').errors?.['password']" class="mat-error">
                            {{PasswordChange.get('passwordconfirm').errors['password'].value}}
                        </p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-4 col-sm-6 col-8" >
                        <button  mat-flat-button color="primary" type="submit"
                            (click)="PasswordChange.valid? changePassword():null"  id="button">
                           Promeni lozinku </button>
                    </div>
                </div>
          
    </div>  
</form>
