<nav class="navbar navbar-expand-lg bg-body-tertiary" *ngIf="user && user.type=='visitor'">
    <div class="container-fluid">
      <a class="navbar-brand" href="">Slatki zalogaji <img src="../../assets/logo.png" alt="" id="logo"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav" id="menu">
            <li class="nav-item dropdown db">
                <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false" [class.selected]="selectedOption==='products'" (click)="selectOption('products')">
                  Proizvodi
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" [routerLink]="['/cakes']">Torte</a></li>
                  <li><a class="dropdown-item" [routerLink]="['/desserts']">Kolači</a></li>
                </ul>
            </li>
       
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/promotions']" [class.selected]="selectedOption==='promotions'"(click)="selectOption('promotions')"> Promocije</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/contact']" [class.selected]="selectedOption==='contact'" (click)="selectOption('contact')">Kontakt</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/basket']" [class.selected]="selectedOption==='basket'" (click)="selectOption('basket')" >Korpa</a>
            
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/notifications']" [class.selected]="selectedOption==='notifications'" (click)="selectOption('notifications')">Obaveštenja</a>
            
          </li>
          
          <li class="nav-item" >
            <a class="nav-link" [routerLink]="['/profile']" [class.selected]="selectedOption==='profile'" (click)="selectOption('profile')">Profil</a>
          </li>
          <li class="nav-item">
            <a class="nav-link"  [routerLink]="[]" (click)="logout()">Odjavi se</a>
          </li>  
          
        </ul>
      </div>
    </div>
  </nav>


  <nav class="navbar navbar-expand-lg bg-body-tertiary" *ngIf="user && user.type=='staff'">
    <div class="container-fluid">
      <a class="navbar-brand" href="">Slatki zalogaji <img src="../../assets/logo.png" alt="" id="logo"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav" id="menu">
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/orders']" [class.selected]="selectedOption==='orders'" (click)="selectOption('orders')">Proudžbine</a>
            
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/addproduct']" [class.selected]="selectedOption==='addproduct'" (click)="selectOption('addproduct')" >Novi Proizvod</a>
            
          </li>
          
          <li class="nav-item" >
            <a class="nav-link" [routerLink]="['/profile']"[class.selected]="selectedOption==='profile'" (click)="selectOption('profile')">Profil</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" (click)="logout()">Odjavi se</a>
          </li>  
          
        </ul>
      </div>
    </div>
  </nav>
<router-outlet></router-outlet>
