
<form class="form-horizontal updatedata" [formGroup]="EditPersonalData" align="center" style="display: flex; justify-content:center">

    <div class="container-fluid" align="center" >

        <div class="row"  align="right">
            <div class="offset-lg-4 col-lg-4 offset-sm-3 col-sm-6 ">
                <button (click)="profile()" mat-button> Odustani </button>
            </div>
        </div>
       
        <div class="row">
            <div class="offset-lg-4 col-lg-2 offset-sm-2 col-sm-4  " >
                <mat-form-field appearance="outline" layout="column">
                    <mat-label>Ime</mat-label>
                    <input type="text" matInput placeholder="Ime" formControlName="firstname" [(ngModel)]="user.firstname" >
                </mat-form-field>
            </div>
            <div class="col-lg-2 col-sm-4">
                <mat-form-field appearance="outline">
                    <mat-label>Prezime</mat-label>
                    <input type="text" matInput placeholder="Prezime" formControlName="lastname" [(ngModel)]="user.lastname">
                </mat-form-field>
            </div>
        </div>


        <div class="row">
            <div class=" offset-lg-4 col-lg-2 offset-sm-2 col-sm-4 ">
                <mat-form-field appearance="outline">
                    <mat-label>Korisničko ime</mat-label>
                    <input type="text" matInput placeholder="Korisničko ime" formControlName="username" [(ngModel)]="user.username">
                    
                </mat-form-field>
                <p *ngIf="EditPersonalData.get('username').errors?.['username']" class="mat-error">
                    {{EditPersonalData.get('username').errors['username'].value}}
                </p>
            </div>
            <div class="col-lg-2 col-sm-4 ">
                <mat-form-field appearance="outline">
                    <mat-label>Email</mat-label>
                    <input type="email" matInput placeholder="Email" formControlName="email" [(ngModel)]="user.email">               
                </mat-form-field>
                <p *ngIf="EditPersonalData.get('email').errors?.['email']" class="mat-error">
                    {{EditPersonalData.get('email').errors?.['email'].value}}
                </p>
            </div>
        </div>
        <div class="row">
            <div class="offset-lg-4  col-lg-2 offset-sm-2 col-sm-4 ">
                <mat-form-field appearance="outline">
                    <mat-label>Ulica</mat-label>
                    <input type="text" matInput  formControlName="street" [(ngModel)]="user.address.street">
                    
                </mat-form-field>
                <p *ngIf="EditPersonalData.get('street').errors?.['street']" class="mat-error">
                    {{EditPersonalData.get('street').errors['street'].value}}
                </p>
            </div>
            <div class="  col-lg-2 col-sm-4 ">
                <mat-form-field appearance="outline">
                    <mat-label>Broj ulice</mat-label>
                    <input type="text" matInput formControlName="number" [(ngModel)]="user.address.number">
                </mat-form-field>
                <p *ngIf="EditPersonalData.get('number').errors?.['number']" class="mat-error">
                    {{EditPersonalData.get('number').errors['number'].value}}
                </p>
            </div>
        </div>
       
        <div class="row">
            <div class=" offset-lg-4 col-lg-2 offset-sm-2 col-sm-4">
                <mat-form-field appearance="outline">
                    <mat-label>Grad</mat-label>
                    <input type="text" matInput formControlName="city" [(ngModel)]="user.address.city">
                </mat-form-field>
                <p *ngIf="EditPersonalData.get('city').errors?.['city']" class="mat-error">
                    {{EditPersonalData.get('city').errors['city'].value}}
                </p>
            </div>
            <div class="col-lg-2 col-sm-4 ">
                <mat-form-field appearance="outline">
                    <mat-label>Kontakt telefon</mat-label>
                    <input type="tel" matInput placeholder="e.g. 061123456" formControlName="phone" [(ngModel)]="user.phone">
                </mat-form-field>
                <p *ngIf="EditPersonalData.get('phone').errors" class="mat-error">
                    Unet nekorektan format telefona
                </p>
            </div>
        </div>

        <div class="row">
            <div class=" offset-lg-4 col-lg-4 offset-sm-3 col-sm-6 " >
                <button  mat-flat-button color="primary" type="submit"
                    (click)="EditPersonalData.valid? saveChanges():null">
                    Sačuvaj izmene </button>
            </div>
        </div>

    </div>

</form>