<div class="container-fluid" align="center">
  <div class="row">
    <div class="col title" *ngIf="user==null">
      Dobrodošli u poslastičarnicu <br>
      Slatki zalogaji
      <img src="../../assets/logo.png" alt="" id="logo">
    </div>
  </div>
  
  <div class="row">
    <div class="col-lg-12">
  <form *ngIf="user==null" class="form-horizontal" [formGroup]="loginForm" id="login">
    <div class="row">
      <div class="col-lg-4 offset-lg-4" style="padding-bottom: 2%;" >
        <p id="message">
          {{message}}
        </p>
       
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 offset-lg-4 col-md-8 offset-md-2">
        <mat-form-field appearance="outline">
          <mat-label>Korisničko ime</mat-label>
          <input type="text" matInput placeholder="Username" formControlName="username">
        </mat-form-field>
      </div>
    </div>


    <div class="row">
      <div class="col-lg-4 offset-lg-4 col-md-8 offset-md-2">
        <mat-form-field appearance="outline">
          <mat-label>Lozinka</mat-label>
          <input [type]="hide ? 'password' : 'text'" matInput placeholder="Password" formControlName="password">
          <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon> </button>
        </mat-form-field>
      </div>
      


    </div>
    <div class="row">
      <div class="col-lg-4 offset-lg-4">

        <button mat-flat-button type="submit" (click)="loginForm.valid? login():setMessageIfFormInvalid()" color="primary">Prijavi se</button>
      </div>
    </div>
  </form>
    </div>
  </div>
</div>

