<div class="container-fluid" >
    
    <div class="row">
        <div class="col-lg-12" id="title">
            Kolači
        </div>
    </div>

    <div class="row sameheight" >
        <div class="col-lg-4 offset-md-2 col-md-8 offset-lg-0 col-sm-12 info-sameheight" *ngFor="let dessert of currentdesserts" >

            <mat-card >
                <mat-card-header>
                  <mat-card-title (click)="product(dessert)"> {{dessert.name}}</mat-card-title>
                </mat-card-header>
                
                <mat-card-content>
                    <img mat-card-image src="../../assets/products/{{dessert._id}}.{{dessert.image}}" (click)="product(dessert)">
                </mat-card-content>
                <mat-card-actions >
                    
                </mat-card-actions>
              </mat-card>
            
        </div>
    </div>

    <div class="row">
        <div class="offset-lg-3 col-lg-6 offset-md-2 col-md-8 col-sm-12" style="display: flex;justify-content: center;" >
            <nav aria-label="..." >
                <ul class="pagination ">
                  <li class="page-item">
                    <a class="page-link " (click)="previouspage()" [ngClass]="{'disabled':currentpage==1}" style="cursor:default">Prethodna stranica</a>
                  </li>
                  <li class="page-item " *ngFor="let page of pages" ><a class="page-link numberspag" [ngClass]="{'active':currentpage==page}"  (click)="setcurrentpage(page)" style="cursor:default">{{page}}</a></li>
                 
                  <li class="page-item">
                    <a class="page-link" (click)="nextpage()" [ngClass]="{'disabled':currentpage==totalpages}" style="cursor:default">Sledeća stranica</a>
                  </li>
                </ul>
              </nav>
        </div>
    </div>
</div>