/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */


html, body { height: 100%; }
body {
  min-height: 100vh;
}
body::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
body {
  -ms-overflow-style: none;  
  scrollbar-width: none;  
}
@font-face {
    font-family: 'Atma';
    font-style: normal;
    font-weight: normal;
    src: url("assets/fonts/Atma-Regular.ttf");
  }


  @font-face {
    font-family: 'Annie';
    font-style: normal;
    font-weight: normal;
    src: url("assets/fonts/AnnieUseYourTelescope-Regular.ttf");
  }

  @font-face {
    font-family: 'Inspiration';
    font-style: normal;
    font-weight: normal;
    src: url("assets/fonts/Inspiration-Regular.ttf");
  }


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
